.footer {
	color: white;
	background-color: #072526;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
}
footer {
	i {
		font-size: 50px;
		
	}
}
@media screen and (max-width: 800px) {
	.footer {
		justify-content: center;
	}
}