.inicio__main {
	background-image: url(../Assets/Main\ -\ Index.png);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;

	h2 {
		color: #072526;
		background-color: rgba(174, 194, 37, 0.8);
		padding-inline: 15px;
	}
}
