.mision__main {
    background-image: url(../Assets/Main\ -\ Mision.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    padding-inline: 420px;
    text-align: center;
    gap: 200px;
  }
  
  .mision__section1,
  .mision__section2 {
    margin: auto;
    background: rgba(255, 255, 255, 0.414);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
  }