.historia__main {
	background-size: cover;
	background-position: center center;
	background-image: url(../Assets/Main\ -\ Historia.png);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding-top: 20px;
}
.historia__main__titulo {
	margin: auto;
	background: rgba(39, 105, 192, 0.913);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 7px;
	h2 {
		color: rgb(252, 247, 247);
	}
}
.historia__main__video {
	padding-bottom: 20vh;
}

.iframe-wraper {
	position: relative;
	padding-bottom: 56.25%;
	
  }
  
  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
  }

  .container {
	max-width: 900px;
	padding-bottom: 20vh;
	
  }