* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background-color: #a59784;
}

.hero_header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
  border-color: black;
}
.hero_header .logo {
  width: 25%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 3rem;
  padding-right: 2rem;
}
.navbar .menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 2.5rem;
  letter-spacing: 1px;
  width: 100%;
  padding: 50px 40px 0 0;
  justify-content: center;
}

.menu .menu_item a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.menu_item.active a {
  text-decoration: underline;
  color: green;
}

.menu_item a:hover {
  text-decoration: underline;
  color: green;
}

@media screen and (max-width: 800px) {
  .navbar .menu {
    padding: 0;
  }
}
.inicio__main {
  background-image: url(../Assets/Main\ -\ Index.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inicio__main h2 {
  color: #072526;
  background-color: rgba(174, 194, 37, 0.8);
  padding-inline: 15px;
}

.main__productos {
  background-image: url(../../Assets/Productos\ 2.png);
  height: 200h;
  background-position: center center;
}

.tarjetita__productos {
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
  max-height: 80%;
  min-width: 40%;
}
.tarjetita__productos:hover {
  transform: scale(1.1) translateY(-40px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container {
  padding-top: 60px;
}

.mision__main {
  background-image: url(../Assets/Main\ -\ Mision.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  text-align: center;
  gap: 70px;
  padding: 0;
}

.mision__section1 {
  margin: auto;
  max-width: 30%;
  background: rgba(255, 255, 255, 0.855);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}
.mision__section1:hover {
  transform: scale(1.1) translateY(-40px);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.mision__section2 {
  margin: auto;
  max-width: 30%;
  background: rgba(255, 255, 255, 0.855);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}
.mision__section2:hover {
  transform: scale(1.1) translateY(-40px);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

@media screen and (max-width: 800px) {
  .mision__main {
    padding: 0;
    gap: 1rem;
  }
}
.historia__main {
  background-size: cover;
  background-position: center center;
  background-image: url(../Assets/Main\ -\ Historia.png);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.historia__main__titulo {
  margin: auto;
  background: rgba(39, 105, 192, 0.913);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}
.historia__main__titulo h2 {
  color: rgb(252, 247, 247);
}

.historia__main__video {
  padding-bottom: 20vh;
}

.iframe-wraper {
  position: relative;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 900px;
  padding-bottom: 20vh;
}

.contacto__main {
  height: 100vh;
  background: url(../Assets/Contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer {
  color: white;
  background-color: #072526;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

footer i {
  font-size: 50px;
}

@media screen and (max-width: 800px) {
  .footer {
    justify-content: center;
  }
}/*# sourceMappingURL=estilo.css.map */