* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Abajo esta el header */

.hero {
  height: 100vh;
  background-color: #a59784;
}

.hero_header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
  border-color: black;
}

.hero_header .logo {
  width: 25%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 3rem;
  padding-right: 2rem;
}

.navbar .menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 2.5rem;
  letter-spacing: 1px;
  width: 100%;
  padding: 50px 40px 0 0;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .navbar .menu {
    padding: 0;
  }
}

.menu .menu_item a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.menu_item.active a,
.menu_item a:hover {
  text-decoration: underline;
  color: green;
}

/*  Main - Inicio */

.inicio__main {
  background-image: url(../Assets/Main\ -\ Index.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 420px;
  text-align: center;
  
}

.inicio__main h2 {
  color: #072526;
  background-color: rgba(174, 194, 37, 0.8);
  padding-inline: 15px;
 
}

/*  Main - Productos */

.tarjetitas {
  display: flex;
  padding: 50px;
  gap: 30px;
}

.tarjetita {
  background-color: rgb(39, 145, 169);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border: 5px solid black;
}

.tarjetita_imagen {
  max-width: 100%;
  flex: 1;
}

.tarjetita_informacion {
  padding: 0 20px 20px 20px;
}

.tarjetita button {
  height: 40px;
  width: 400px;
  font-size: 20px;
  background: #31348a;
  color: white;
  cursor: pointer;
}

/*  Main - Contacto*/

.contacto__main {
  height: 100vh;
  background-image: url(../Assets/Main\ -\ Mision.png);
}

/*  Main - Nuestra historia*/

.historia__main {
  background-size: cover;
  background-position: center center;
  background-image: url(../Assets/Main\ -\ Historia.png);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
  overflow: hidden;
}

.historia__main__titulo {
  margin: auto;
  background: rgba(39, 105, 192, 0.64);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.historia__main__video {
  padding-bottom: 20vh;
   
}

.historia__main__titulo h2 {
  color: rgb(252, 247, 247);
}
/*  Main - Nuestra misión*/

.mision__main {
  background-image: url(../Assets/Main\ -\ Mision.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  box-sizing: border-box;
  padding-inline: 420px;
  text-align: center;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .mision__main {
    padding: 0;
    gap: 1rem;
  }
}

.mision__section1,
.mision__section2 {
  margin: auto;
  background: rgba(255, 255, 255, 0.414);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

/*  Footer*/

.footer {
  color: white;
  background-color: #072526;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

footer i {
  font-size: 60px;
}

@media screen and (max-width: 800px) {
  .footer {
    justify-content: center;
  }
}
